<div class="ciudad">
    <div>
        <img *ngIf="cielo===EstadoCielo.Soleado" width='90px' src="assets/sol.png" title="{{descripcion}}">
        <img *ngIf="cielo===EstadoCielo.PocoNuboso" width='90px' src="assets/poco-nuboso.png" title="{{descripcion}}">
        <img *ngIf="cielo===EstadoCielo.Nuboso" width='90px' src="assets/nuboso.png" title="{{descripcion}}">
        <img *ngIf="cielo===EstadoCielo.MuyNuboso" width='90px' src="assets/muy-nuboso.png" title="{{descripcion}}">
        <img *ngIf="cielo===EstadoCielo.Cubierto" width='90px' src="assets/cubierto.png" title="{{descripcion}}">
        <img *ngIf="cielo===EstadoCielo.NubesAltas" width='90px' src="assets/nubes-altas.png" title="{{descripcion}}">
        <img *ngIf="cielo===EstadoCielo.PocoLluvioso" width='90px' src="assets/poco-lluvioso.png" title="{{descripcion}}">
        <img *ngIf="cielo===EstadoCielo.Lluvioso" width='90px' src="assets/lluvioso.png" title="{{descripcion}}">
        <img *ngIf="cielo===EstadoCielo.MuyLluvioso" width='90px' src="assets/muy-lluvioso.png" title="{{descripcion}}">
        <img *ngIf="cielo===EstadoCielo.Tormenta" width='90px' src="assets/tormenta.png" title="{{descripcion}}">
        <img *ngIf="cielo===EstadoCielo.Nieve" width='90px' src="assets/nieve.png" title="{{descripcion}}">
        <img *ngIf="cielo===EstadoCielo.Niebla" width='90px' src="assets/niebla.png" title="{{descripcion}}">
    </div>
    <div class="nombre">{{nombre}}</div>
    <div appResaltar color="rgb(100,100, 00)" class="temperatura-actual">{{temperatura}}ºC</div>
    <div appResaltar color="rgb(48, 123, 244)" class="temperatura">Min: {{tempMin}}ºC</div>
    <div appResaltar color="rgb(231, 78, 43)" class="temperatura">Max: {{tempMax}}ºC</div>

    <!--  EJEMPLO DE COMO USAR EN EMISOR DE EVENTOS eventEmitter
        <button (click)="incrementar()">+</button>
        <button (click)="decrementar()">-</button> 
    -->
</div>