<div style="text-align: center;">
    <h1>{{title}}</h1>
</div>

<div style="text-align: center;">
    <h2>{{fecha | fecha}}</h2>
</div>

<label for="filtroText" id="filtroLabel">Filtrar: </label>
<!-- necesitas importar FormsModule en app.module para usar ngModel-->
<input [(ngModel)]="filtro" id="filtroText" type="text" placeholder="Buscar por provincia"/>

<app-temperatura *ngFor="let c of ciudades | filtroCiudades:filtro"
    [nombre]=c.nombre
    [tempMax]=c.tempMax
    [tempMin]=c.tempMin
    [cielo]=c.cielo
    [codigo]=c.codigo
    (temperaturaChange)=cambioTemperatura($event)>
</app-temperatura>
<div>Se han encontrado {{(ciudades | filtroCiudades:filtro).length }} ciudades</div>
<hr />
Página creada por Fer. 2:25:07